.example-card {
  width: 75%;
  margin: 0px auto;
}

.example-header-image {
  background-image: url('http://www.liteobject.com/Images/LO-Logo_48.png');
  background-size: cover;
}
.contact-form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-form-container > mat-form-field {  
  /* width: calc(1/2*100% - (1 - 1/2)*10px); */    
  flex: 0 0 50%;
}
