<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Mohammed Hoque</mat-card-title>
    <mat-card-subtitle>Software Engineer</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="/../../../assets/images/fabian-grohs-423591-unsplash.jpg"
    alt=""
  />
  <mat-card-content>
    <p>
      I am an experienced Software Engineer located in Dallas, TX. I have a true
      passion for technology along with real-world enterprise experience and
      excellent academic qualifications. Some of the projects I have worked on
      include web based apps, mobile apps, social media apps, web services,
      telephony systems, process based systems, reporting services, e-commerce
      sites, cloud hosting, etc.
    </p>
    <p>
      Visit my Linkedin profile for more details about my background and
      experience or use the contact page for project request.
    </p>
    <!-- <a routerLink="/contact">Contact</a> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button [routerLink]="['/contact']">CONTACT</button>
  </mat-card-actions>
</mat-card>
<br />
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Dallas</mat-card-title>
    <mat-card-subtitle>Texas</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="/../../../assets/images/glen-carrie-66914-unsplash.jpg"
    alt=""
  />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, te vim forensibus reprimique, et duo aliquip
      reprimique disputando. His te velit phaedrum honestatis. Quem habeo
      diceret nec ea, mel alii malis aperiam at. Cum cu quod libris praesent.
      Omnis illud partem ad his, altera epicuri conceptam id pri. At mea simul
      audiam scripserit, enim mutat vel in.
    </p>
    <p>
      Ea mazim tation intellegebat mel, volumus intellegat ex vix. Cu magna
      tritani voluptaria pri, an integre prodesset definiebas mel. Ei duo
      scripserit reprehendunt, libris intellegam cu mea. Putent noluisse
      tractatos et ius. Soleat quodsi laoreet ut mel. Quem petentium ei vix, qui
      cu vidit mediocrem.
    </p>
    <p>
      Mel porro nominati an. Vel omnesque adolescens id. Eos paulo suavitate ut.
      Duo doming noster commodo id. Causae probatus nec cu. Nam harum populo
      salutatus eu, eum delicata eloquentiam ex. Ea his quot illud illum, no nec
      utinam corpora, id illud tibique dissentiunt mea.
    </p>
    <p>
      Ex sed meis laudem civibus. Utinam semper convenire ad vix, at tamquam
      quaerendum ius. Usu erat atomorum ad, te qui clita omnium nominavi. Hinc
      consulatu splendide per cu, vim in adhuc zril, doming nominavi pri ut. Est
      erant harum quaerendum id, dolorem maiestatis temporibus vel te. Usu id
      fugit referrentur.
    </p>
    <p>
      Ferri suscipit voluptatum eum in, per ne liber copiosae. Vix ex appareat
      voluptaria, ei dicit labore ceteros sea. No quaeque bonorum complectitur
      nam. Primis blandit est ut.
    </p>
  </mat-card-content>
</mat-card>
<br />
