<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Mohammed Hoque</mat-card-title>
    <mat-card-subtitle>Software Engineer</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="/../../../assets/images/jakob-owens-1078030-unsplash.jpg"
    alt=""
  />
  <mat-card-content>
    <p>
      I am an experienced Software Engineer located in Dallas, TX. I have a true
      passion for technology along with real-world enterprise experience and
      excellent academic qualifications. Some of the projects I have worked on
      include web based apps, mobile apps, social media apps, web services,
      telephony systems, process based systems, reporting services, e-commerce
      sites, cloud hosting, etc.
    </p>
    <p>
      Visit my Linkedin profile for more details about my background and
      experience or use the contact page for project request.
    </p>
    <!-- <a routerLink="/contact">Contact</a> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button> <button mat-button [routerLink]="['/contact']">CONTACT</button >
  </mat-card-actions>
</mat-card>
